[submodule "stow-files/dot-i3"]
	path = stow-files/i3
	url = git@github.com:gmatheu/i3config.git
[submodule "stow-files/astronvim"]
	path = stow-files/astronvim
	url = git@github.com:gmatheu/nvim-config.git
